.input {
    display:flex;
    width:90%;
    position:relative;
    align-items: center;
}

.input__box{
    width:100%;
    border-radius:50px;
    padding:20px 30px;
    font-size:25px;
    border:none;
    transition:0.2s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus{
    box-shadow: 0 0 10px 1000px rgba(0,0,0,0.5);
    outline:none;
}

.input__submit{
    position: absolute;  /* para que esté dentro del field */
    width:50px;
    height:50px;
    margin:12px;
    border-radius:50px;
    right:0px;
    border:none;
    font-size:15px;
    background-color:cadetblue;
    color: white;
    transition: 0.2s all;
    box-shadow:0 0 10px black
}

.input__submit:hover{
    background-color:darkcyan
}

.input__submit:active{
    transform:scale(0.8);
    box-shadow: 0 0 5px black;
}
.tasks{
    background-color: red;
    margin-top: 13%;
    margin-right:50%;

}